<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>This is your home page!</p>

<form th:action="@{/logout}" method="post">
    <button type="submit">
        Log out
    </button>
</form>
<p>
    Add todo
</p>
<form th:action="@{/addTodo}" method="post">
    <input type="text" name="text" placeholder="Add todo...">
    <button type="submit">Add todo</button>
</form>
<p>
Your todos!
</p>
<ul th:each="todo : ${todos}">
    <li th:text="${todo.text} + ' ' + ${todo.getAuthorName()}">

    </li>
</ul>

</body>
</html>